body {
  font-family: Arial, sans-serif;
  background-color:#4ECDC4;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.todo-container {
  background:#FF6B6B;
  padding: 25px;
  border-radius: 15px;
  width: 400px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.input-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

input[type="text"] {
  width: 70%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  outline: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
  padding: 12px 15px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: #FFE66D;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #FFE66D;
  transform: scale(1.05);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #FFE66D;
}

.task-text.completed {
  text-decoration: line-through;
  color: #1A535C;
}

.task-time {
  font-size: 12px;
  color: #444;
  margin-right: 10px;
}

.filters {
  margin-top: 10px;
}

.filters button {
  margin-right: 5px;
}